<ion-header>
  <ion-toolbar class="toolbar-container" padding-left>
      <ion-title>Favoriler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>

  <ion-card *ngFor="let post of posts" margin-bottom>
      <ion-badge slot="start" color="warning">{{+ post.invLen}}</ion-badge>

      <ion-card-content>
          {{post.body}}
      </ion-card-content>
      <ion-item-divider></ion-item-divider>
      <h6 text-center>{{'#' + post.sikayetAdi}}</h6>
      <ion-button expand="block" slot="end">Sil</ion-button>
  </ion-card>

</ion-content>